{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ServiceBus__fullyQualifiedNamespace": "",
    "ServiceBusQueueName": "booking-events",
    "Email__Endpoint": "",
    "Email__SenderAddress": ""
  }
}
