# Angular (frontend)
frontend/dist/
frontend/out-tsc/
frontend/tmp/
frontend/coverage/
frontend/.angular/

# Node modules
frontend/node_modules/

# Environment files
frontend/.env
.env

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*

# Visual Studio Code
.vscode/

# System files
Thumbs.db
